{% if canAdminComment == true %}

    {% if comments.count == 0 %}
        <h3>No comments</h3>
    {% endif %}

    {% else %}

        <ul class="list-unstyled">

            {% for key,comment in comments.comments %}

                {% include "MykeesCommentBundle:Comment:comment.html.twig" %}

                {% for comment in comment.replies %}
                    {% include "MykeesCommentBundle:Comment:comment.html.twig" %}
                {% endfor %}

            {% endfor %}

        </ul>

{% endif %}
